html {
  width: 100%;
  height: 100%;
}

body {
  background-image: radial-gradient(
    circle at 50% -20.71%,
    #fbf3e6 0,
    #f9eddd 10%,
    #f7e5d3 20%,
    #f5ddc9 30%,
    #f4d3bf 40%,
    #f2c9b5 50%,
    #f0beac 60%,
    #efb5a6 70%,
    #edaba1 80%,
    #eca39f 90%,
    #e99b9f 100%
  );
}
.logo {
  gap: 40px;
  display: grid;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 30px;
  align-content: center;
}
.logo img {
  width: auto;
  height: 150px;
}
.botoes {
  display: grid;
  grid-template-columns: 500px;
  gap: 20px;
  justify-content: center;
}
.botoes a {
  justify-self: center;
  background-color: rgb(209, 149, 121);
  padding: 15px 20px 15px 20px;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  color: #fde5df;
  font-size: 1.5rem;
  width: 600px;
  border: 3px solid rgb(209, 149, 121);
}
.botoes a:hover {
  background-color: rgb(139, 101, 83);
  width: 610px;
  transition: 0.3s;
}
.icones {
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-left: 450px;
}
.icones a {
  margin: 10px 25px 10px 25px;
  flex-direction: row-reverse;
}
.icones img {
  max-width: 200px;
}
.icones img:hover {
  transform: rotate(360deg);
  transition: 2s;
}
@media (max-width: 500px) {
  .icones {
    margin-left: 180px;
    position: relative;
  }
  .insta {
    position: absolute;
    right: 20px;
  }
  .face{
    position: absolute;
    right: 70px;
  }
  .botoes a {
    width: 300px;
    padding: 15px 15px 15px 15px;
    font-size: 1.2rem;
  }
  .botoes a:first-child {
    margin-top: 20px;
  }
  .botoes a:hover {
    width: 310px;
  }
  .logo img {
    margin-top: -70px;
    height: 110px;
  }
}
